@page "/counter"
<select class="form-control w-25" @bind="Spinner">
    @foreach (SpinnerTemplate spinner in Enum.GetValues(typeof(SpinnerTemplate)))
    {
        <option value="@spinner">@spinner</option>
    }
</select>
<br />
<SpinnerLoader IsLoading="true" HasError="false" Size="50px" AccentColor="#3498db" Color="White" Center="true" Spinner="@Spinner" />

<br />
@code {
    SpinnerTemplate Spinner;
}